extends base

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span= tour.name
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text Start location

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-calendar')
            span.overview-box__label Next date
            span.overview-box__text= tour.startDates[0] ? tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'}) : 'TBD'
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-trending-up')
            span.overview-box__label Difficulty
            span.overview-box__text= tour.difficulty
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-user')
            span.overview-box__label Participants
            span.overview-box__text= `${tour.maxGroupSize} people`
          .overview-box__detail
            svg.overview-box__icon
              use(xlink:href='/img/icons.svg#icon-star')
            span.overview-box__label Rating
            span.overview-box__text= `${tour.ratingsAverage} / 5`

    .description-box
      h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
      p.description__text= tour.description
      p.description__text= tour.summary
